<!DOCTYPE html>
<html>
  <head>
    <title>glhf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Game Index', games_path %>

<p>
  <% if current_user %>
    Hello, <%= current_user.first_name %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Edit Profile', edit_user_path(current_user) %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Log Out', session_path('d'), method: :delete %>
  <% else %>
    <%= link_to 'Log In', new_session_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>
</p>

    <%= yield %>
  </body>
</html>
